{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>

  {{- $pubdate := .PublishDate.Format "2006-01-02" }}
Created: 
<time datetime="{{ .PublishDate.Format "2006-01-02" }}" title="{{ .PublishDate }}">
    {{ $pubdate }}
</time>

  <!-- Last Updated Date -->
  {{- if .Lastmod }}
      {{- $lastmod := .Lastmod.Format "2006-01-02" }}
      {{- if ne $lastmod $pubdate }}
          <div class="post-info-last-mod">
              (Updated: 
              <time datetime="{{ .Lastmod.Format "2006-01-02" }}" title="{{ .Lastmod }}">
                  {{ $lastmod }}
              </time>)
          </div>
      {{- end }}
  {{- end }}

  {{ .Content }}
</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}
